.header {
  padding: 35px 0 30px;
  border-bottom: 1px solid rgba(231, 231, 242, 0.4);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header-navlist ul {
  display: flex;
  list-style: none;
  margin: 0 -30px;
  padding: 0;
}

.header-navlist li {
  margin: 0 30px;
}

.header-auth {
  display: flex;
  justify-self: right;
}

.header-search {
  margin-left: 82px;
}

.header-logo {
  justify-self: center;
}
