body {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-image: url(/images/gradient.png), url(/images/mainimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
