<div class="panel">
  <h2 class="panel-title">Book your vacation</h2>
  <div class="panel-content">
    <div class="panel-fields">
      <div class="panel-field">
        <div class="panel-field-icon">
          <img src="/images/house.svg" alt="house" />
        </div>
        <div class="panel-field-text">
          <div class="panel-field-name">
            Accommodation
          </div>
          <div class="panel-field-value">
            6730 Luna Land North Rhiannonmouth
          </div>
        </div>
        <div class="panel-field-arrow">
          <img src="/images/check.svg" alt="check" />
        </div>
      </div>

      <div class="panel-field">
        <div class="panel-field-icon">
          <img src="/images/calen.svg" alt="calendar" />
        </div>
        <div class="panel-field-text">
          <div class="panel-field-name">Check-in</div>
          <div class="panel-field-value">19.06.2019</div>
        </div>
      </div>

      <div class="panel-field">
        <div class="panel-field-text">
          <div class="panel-field-name">Check-out</div>
          <div class="panel-field-value">19.06.2019</div>
        </div>
      </div>

      <div class="panel-field">
        <div class="panel-field-icon">
          <img src="/images/profile.svg" alt="profile" />
        </div>
        <div class="panel-field-text">
          <div class="panel-field-name">Guests</div>
          <div class="panel-field-value">4 adults</div>
        </div>
        <div class="panel-field-arrow">
          <img src="/images/check.svg" alt="check" />
        </div>
      </div>
    </div>
    <button class="panel-search-button">Search</button>
  </div>
</div>
